.root {
    min-height: 101vh;
    background-color: #ccc;
    margin-top: 12px;
    padding-top: 12px;
    text-align: center;
    line-height: 80vh;

    &:after {
        content: 'scroll down for dynamic loading'
    }
}