.block {
    float: left;
    overflow: hidden;
    box-sizing: content-box;
    width: 168px;
    height: 209px;
    padding: 0 18px 14px 0;
    line-height: 0;
}

.hide {
    opacity:0;
    transition: opacity 200ms ease-in;
}

.img {
    width: 100%;
}

.appear {
    opacity: 1;
}